body {
    background-color: #fafafa;
    margin: 0;
    font-family: Poppins;
    height: 100%;
}

main {
    margin: 0;
}

h2 {
    font-size: 35px;
    border: 5px solid #660022;
    border-radius: 10px;
    background-color: #8c162a;
    color: #ebe5ce;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

form {
    padding: 1rem;
    border:5px solid #ced1c0;
    background-color: #ebe5ce;
    font-family: 'Times New Roman', Times, serif;
}

form label{
    font-size: 2rem;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 0.6px;

}

form input{
    font-size: 1.6rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    display: block;
    background-color: #fffff9;
    border-radius: 4px;
}

button{
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #8c162a;
    border: 3px solid #660022;
    border-radius: 10px;
    color: #ebe5ce;
    padding: 0.5rem 1rem;
    font-family:'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #8c162a;
    align-items: center;
    border-bottom: 10px solid #660022;
}

.header a {
    font-size: 25px;
    color: #ebe5ce;
}

.header__logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fafafa;
}

footer {
    padding: 10px;
    margin: 0;
    background-color: #8c162a;
    color: #fafafa;
}
